:root {
  --main-text: #222222;
  --text: #555555;
  --dark-text: #333333;
  --primery-blue: #086cf9;
  --white: #ffffff;
  --light-backgroynd: #ECF4FF;
  --border-grey:#C4C4C4;
  --border-mid-grey:#BFBFBF;
  --grey-line:#E9E8E8;
  --midel-blue: #D3E5FE;
}
body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--main-text);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.container {
   display: block;
   width: 100%;
   width: 1152px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto; */
}
 .list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.h2-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 62.5px;
  color: var(--main-text);
  text-align: center;
}
/* header */

.header {
display: block;
width: 100%;

}
.header-container {
  width: 100%;
  max-width: 1152px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 32px;
}
.header-nav {
     width: 100%;
  max-width: 818px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-title-link {
  font-size: 24px;
  font-weight: bold;
  color: var(--main-text);
}
.header-menu-list {
  display: flex;
  font-size: 16px;
  font-weight: normal;
  gap: 40px;
}
.header-menu-item {
}
.header-btn-list {
  display: flex;
  margin-left: 112px;
  gap: 48px;
}
.header-btn-item {
}
.header-btn {
  background-color: var(--primery-blue);
  width: 104px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-radius: 4px;
  color: var(--white);
}
.header-btn-singin {
  background-color: transparent;
  color: var(--main-text);
  padding-right: 0;
  padding-left: 0;
}
/*    hero   */

.hero {
  width: 100%;
position: relative;
}
.hero-container {
 
}
.hero-background {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  padding-top: 199px;
  padding-bottom: 283px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.54),
      rgba(0, 0, 0, 0.54)
    ),
    url(../img/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.hero-title {
  display: flex;
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  
}
.hero-text {
  text-align: center;
  align-items: center;
  margin-top: 24px;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  max-width: 867px;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  background-color: var(--primery-blue);
  padding: 12px 24px;
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-radius: 4px;
  color: var(--white);
  margin-top: 54px;
}
.hero-empty-container{ 
  height: 95px;
  width: 100%;
   
}
.hero-stat {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 1138px;
  bottom: 0;
  padding: 56px 88px;
  background-color: var(--white);
  box-shadow: 0 11px 35px 0px rgb(0, 0, 0, 0.08);
  left: 50%;
  transform: translateX(-50%);
}
.hero-stat-list {
  display: flex;
  justify-content: space-between;
  gap: 155px;
}
.list {
}
.hero-stat-item {
  display: flex;
  gap: 24px;
}
.hero-stat-icon {
  fill: var(--primery-blue);
}
.hero-stat-text-block {
    flex-wrap: nowrap;

}
.hero-stat-number {
  font-size: 36px;
  font-weight: 700;
  color: var(--main-text);
}
.hero-stat-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--primery-blue);
}

.hero-stat-text {
}
.find-course {
  margin-top: 128px;
}
.find-course-container {
  display: flex;
  gap: 38px;
  width: 100%;
  max-width: 1152px;

}
.find-course-list {
  width: 986px;
  max-width: 478px;

}
.find-course-item {
}
.find-course-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 62.5px;
}
.find-course-text {
  color: var(--text);

}
.find-text-first{
  margin-top: 24px;
  line-height: 24.8px;
}
.find-text-second{
  margin-top: 16px;
  font-size: 20px;
  color: var(--dark-text);
  line-height: 28px;
}
.btn {
}
.find-course-btn {
  display: block;
  background-color: var(--primery-blue);
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: normal;
  border: none;
  color: var(--white);
  margin-top: 32px;
}
.find-course-img{
  max-width: 595px;
  max-height: 433px;
}

/* how it work */

.how-it-work {
  margin-top: 128px;
}
.how-it-work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1152px;
}
.how-it-work-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 62.5px;
  color: var(--main-text);
  text-align: center;

}
.how-it-work-text {
  margin-top: 11px;
  max-width: 423px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.8px;
  color: var(--text);
  text-align: center;
}
.how-it-work-list {
  margin-top: 48px;
  display: flex;
  gap: 53px;
}
.how-it-work-item {
  max-width: 248px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.how-it-work-item-icon {
  fill: var(--primery-blue);
}
.how-it-work-item-title {
  margin-top: 24px;
  color: var(--main-text);
  font-size: 24px;
  font-weight: bold;
  line-height: 31.25px;
}
.how-it-work-item-text {
  margin-top: 16px;
  font-size: 14px;
  line-height: 21.7px;
  color: var(--text);
}
/* all courses  */

.all-courses {
  margin-top: 128px;
  background-color: var(--light-backgroynd);
  padding-top: 60px;
  padding-bottom: 60px;
}
.all-courses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1152px;
}
.all-courses-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 62.5px;
  color: var(--main-text);
  text-align: center;
}
.all-courses-text {
  margin-top: 11px;
  max-width: 674px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.8px;
  color: var(--text);
  text-align: center;
}
.all-courses-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 20px;
}
.all-coyrses-item {
  background-color: var(--white);
  flex-basis: calc((100% - 5 * 21px) / 6);
  padding: 24px;
  border-radius: 6px;
  max-width: 360px;
  max-height: 483px;
}
.all-courses-div{
  
  width: 312px;
  height: 207px;
  overflow: hidden;
}
.all-courses-item-img {
  
}

.all-courses-prof-list {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: center;
  align-items: center;
  padding-top: 27.5px;
  gap: 18px;
}
.all-courses-prof-item {
  display: flex;
  align-items: center;gap: 18px;
}
.all-courses-prof-icon-div{
  display: flex;
  width: 32px;
  height: 32px;
  padding: 8px;
  border: 1px solid var(--border-grey);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.all-courses-prof-icon {
  
  fill: var(--primery-blue);
}
.all-courses-ptof-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24.8px;
  color: var(--text);
}
.all-courses-prof-img-div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}
.all-courses-name-div {
  padding-top: 20px;
  border-top: 1px solid var(--grey-line);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-courses-name-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 31.25px;
  color: var(--dark-text);
}
.all-courses-name-text {
  color: var(--primery-blue);
  font-size: 24px;
  font-weight: 700px;
  line-height: 31.25px;
}
.all-courses-item-text {
  margin: 18px 0;
  color: var(--text);
  font-size: 14px;
  line-height: 21.7px;
}
.all-courses-container button{
  display: block;
  background-color: var(--primery-blue);
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 6px;
  font-weight: normal;
  border: none;
  color: var(--white);
}
/*section Our Mentors*/

.mentors {
}
.mentors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 128px;
}

.mentors-text {
  margin-top: 12px;
  max-width: 551px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.8px;
  color: var(--text);
  text-align: center;
}
.mentors-list {
  display: flex;
  margin-top: 48px;
  gap: 24px;
  
}
.mentors-list-item {
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 11px 55px 0px rgba(0, 0, 0, 0.06);
}
.mentor-avatar {
  max-width: 368px;
 
}
.item-mentor-name {
  margin-top: 16px;
  padding-left: 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.25px;
  color: var(--main-text);
}
.item-mentor-text {
  margin-top: 8px;
  padding-left: 32px;
  color: var(--text);
    }
.item-mentor-info {
  display: flex;
  gap: 16px;
  padding: 24px 32px 35px;
  width: 100%;
}
.mentor-info-item:last-child{
  margin-left: auto;}

.mentor-info-item{
  display: flex;
  align-items: center;
}
.item-mentor-icon-user {
  margin-right: 6px;
}
.mentor-icon-text{
  font-size: 14px;
  font-weight: normal;
  line-height: 21.7px;
  color: var(--text);
}
.mentor-rating {
  display: flex;
}
.item-mentor-icon-star {
  margin-right: 6px;
  fill: var(--primery-blue);
}

                             /*section event*/

.event-container {
 display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 128px;
}
.event-text {
  margin-top: 12px;
  max-width: 421px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.8px;
  color: var(--text);
  text-align: center;
}

.event-list {
  display: flex;
  margin-top: 48px;
  gap: 24px;

}
.event-item {
  max-width: 368px;
  position: relative;
  border-radius: 6px;
  box-shadow: 0px 11px 55px 0px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}
.event-img-div{
  width: 368px;
  height: 240px;
  overflow: hidden;
}
.event-img-div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-item-data {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 65px;
  height: 62px;
  background-color: var(--primery-blue);
  color: var(--white);
}
.event-item-title {
  padding: 24px 77px 0 24px;
  font-size: 20px;
  font-weight: 600;
  color: var(--main-text);
}
.event-time-local-list {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px 32px;
}
.event-time-local-item {
  display: flex;
  gap: 8px;
}
.event-icon {
}
.event-time-local-text {
  font-size: 14px;
  line-height: 21.7px;
  color: var(--text);
  font-weight: normal;
}
                           /*statistic*/
.statistic{
background-color: var(--midel-blue);
  margin-top: 128px;

}
.statistic-container {
  padding: 72px 0;
}
.statistic-list {
  display: flex;
  justify-content: center;
  gap: 160px;
}
.statistic-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;


}
.statistic-list-item-numder {
  font-size: 48px;
  font-weight: bold;
  line-height: 62.5px;
  color: var(--main-text);
}
.statistic-list-item-text {
  font-size: 16px;
  font-weight: normal;
  line-height: 24.8px;
  color: var(--text);
}
                       /*blog*/
.blog {
  margin-top: 128px;
}
.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-text {
  margin-top: 12px;
  display: flex;
  max-width: 419px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.8px;
  color: var(--text);
  text-align: center;
}
.blog-list {
  margin-top: 42px;
  display: flex;
  gap: 24px;
  }
.blog-list-item {
  max-width: 368px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 0.5px solid var(--border-mid-grey);
}
.blog-list-item-img-div {
  width: 368px;
  height: 248px;
  overflow: hidden;
}
.blog-list-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-list-item-title {
  margin-top: 24px;
  padding: 0 29.5px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26.04px;
  color: var(--main-text);
}
.blog-list-item-text {
  margin-top: 16px;
  padding: 0 29.5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 21.7px;
  color: var(--text);
}
.blog-list-item-link {
  margin-top: 24px;
  padding: 0 29.5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 24.8px;
  color: var(--primery-blue);
}
.blog-btn {
  margin-top: 40px;
  padding: 16px 32px;
  background-color: var(--primery-blue);
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border: none;
  border-radius: 6px;
}
                          /*feedback*/
.feedback {
  margin-top: 128px;
}
.feedback-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback-text {
  margin-top: 12px;
  max-width: 491px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.8px;
  color: var(--text);
  text-align: center;
}
.feedback-div {
  margin-top: 42px;
  display: flex;
  align-items: center;
}
/* .feedback-div button{
  width: 40px;
  height: 40px;

} */
.feedback-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #d5d4d4;
  background-color: transparent;
  
}
.feedback-arrow{
  width: 16px;
  height: 16px;
  fill: #c4c4c4;
}
.feedback-list {
  display: flex;
  gap: 24px;
  padding: 0 32px;
}
.feedback-list-item {
  max-width: 320px;
  padding: 30px 24px;
  box-shadow: 0 13px 45px 0 rgba(0, 0, 0, 0.08);
}
.feedback-list-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24.8px;
  color: var(--text);
}
.feedback-list-item-div {
  display: flex;
   overflow: hidden;
   margin-top: 21px;
   gap: 16px;
   align-items: center;
  }
.feedback-list-item-div img {
   width: 72px;
  height: 72px;
  border-radius: 50%;

}
.feedbak-list-item-name {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.feedback-student-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 26.04px;
  color: var(--main-text);
}
.feedback-studetn-state {

  font-size: 14px;
  font-weight: 400;
  line-height: 21.7px;
  color: var(--text);
}

.feedback-input-container{
  margin-top: 128px;
  padding: 48px 24px 64px;
  width: 939px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primery-blue);
}
.feedback-iput-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 46.87px;
  color: #FCFCFC;
}
.feedback-iput-text {
  margin-top: 12px;
  max-width: 491px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.8px;
  color: #F9F9F9;
  text-align: center;
}
.feedback-iput-div {
  margin-top: 40px;
  padding: 8px 8px 8px 24px;
  border-radius: 4px;
  background-color: var(--white);

}
input{
  height: 48px;
  width: 390px;
  border: none;
}
input::placeholder{
  font-size: 14px;
  font-weight: 400;
  line-height: 21.7px;
  color: var(--text);
}

.feedback-subscribe {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--primery-blue);
  color: var(--white);
}